.user-review-list-items {
  border: 1px solid black;
  list-style: none;
  text-align: center;
  margin-top: 25px;
  background-color: lightblue;
  opacity: 0.9;
}

.reviewed-drink-pics {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 20px;
}

#review-drink-name {
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
}

#review-drink-comment {
  font-size: 16px;
  line-height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.user-date-review-info {
  font-size: 12px;
  text-align: left;
  padding-left: 5px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  #review-drink-name {
    font-size: 38px;
  }

  .reviewed-drink-pics {
    width: 380px;
    height: 380px;
    margin-bottom: 30px;
  }

  #review-drink-comment {
    font-size: 26px;
  }

  .user-date-review-info {
    font-size: 16px;
  }

  .user-review-list-items {
    margin-left: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .user-date-review-info {
    font-size: 22px;
  }

  .user-review-list-items {
    margin-left: 85px;
    margin-right: 50px;
  }
}
