.review-form {
  border: 1px solid black;
  width: 90%;
  margin-left: 13px;
  margin-bottom: 15px;
  background-color: lightgrey;
}

textarea {
  border: 1px solid black;
}

#review-submit-button {
  border: 1px solid black;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#rating-select {
  border: 1px solid black;
}

#review-form-title {
  font-size: 28px;
}

#review-input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 75px;
}

#rating-select {
  margin-top: 10px;
  margin-block-end: 10px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  #review-form-title {
    font-size: 34px;
  }

  #how-did-you-like-it {
    font-size: 22px;
  }

  #review-input {
    width: 400px;
    height: 150px;
  }

  #search-rating-label {
    font-size: 22px;
  }

  #rating-select {
    font-size: 18px;
  }

  #review-submit-button {
    font-size: 20px;
  }

  .review-form {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .review-form {
    margin-left: auto;
    margin-right: auto;
  }
}
