.posted-reviews-list {
  width: 90%;
}

#posted-reviews-title {
  text-align: center;
  font-size: 20px;
}

@media screen and (min-width: 1024px) {
  #posted-reviews-title {
    font-size: 30px;
  }
}
