.my-review-list-items {
  border: 1px solid black;
  list-style: none;
  text-align: center;
  margin-top: 25px;
  background-color: lightblue;
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;
  width: 248px;
}

.my-review-drink-pics {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 20px;
}

#my-review-drink-name {
  font-size: 26px;
  font-weight: bold;
}

#my-review-drink-comment {
  font-size: 16px;
  line-height: 26px;
  padding-left: 10px;
  padding-right: 10px;
}

.my-review-date-area {
  font-size: 12px;
  text-align: left;
  padding-right: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

#my-review-delete-button {
  border: 1px solid black;
}

@media screen and (min-width: 768px) {
  #my-review-drink-name {
    font-size: 38px;
  }

  .my-review-drink-pics {
    width: 380px;
    height: 380px;
    margin-bottom: 30px;
  }

  #my-review-drink-comment {
    font-size: 26px;
  }

  .my-review-date-area {
    font-size: 16px;
  }

  #my-review-delete-button {
    font-size: 14px;
  }

  .my-review-list-items {
    width: 650px;
  }
}

@media screen and (min-width: 1024px) {
  .my-review-date-area {
    font-size: 22px;
  }

  #my-review-delete-button {
    font-size: 20px;
  }

  .my-review-list-items {
    width: 650px;
  }
}
