.star-rating .fa-star {
  color: #0e2944;
  margin-bottom: 14px;
}

@media screen and (min-width: 320px) {
  span {
    padding: 2.5px;
  }

  .star-rating {
    font-size: 25px;
  }
}

@media screen and (min-width: 765px) {
  span {
    padding: 5px;
  }

  .star-rating {
    font-size: 30px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1000px) {
  span {
    padding: 5px;
  }

  .star-rating {
    font-size: 30px;
  }
}
