.drink-list-items {
  border: 1px solid black;
  list-style: none;
  text-align: center;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  opacity: 0.9;
}

.drink-pics {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 10px;
}

#cocktail-search-name {
  font-size: 30px;
  font-weight: bolder;
}

.cocktail-search-ingredients {
  font-size: 20px;
  line-height: 26px;
}

#search-ingredients {
  font-weight: bold;
}

#cocktail-search-category {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  #cocktail-search-name {
    font-size: 40px;
  }

  .drink-pics {
    width: 380px;
    height: 380px;
  }

  .cocktail-search-ingredients {
    font-size: 32px;
    line-height: 40px;
  }

  #cocktail-search-category,
  #cocktail-category {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .drink-list-items {
    width: 650px;
  }
}
