.register-form {
  border: 1px solid black;
  text-align: center;
  background-color: lightgrey;
}

#create-account-button {
  border: 1px solid black;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#register-title {
  text-align: center;
}

#first-name-input,
#last-name-input,
#register-email-input,
#register-password-input,
#user-name-input {
  border: 1px solid black;
  margin-top: 5px;
  margin-block-end: 10px;
  height: 24px;
  width: 180px;
}

.password-restrictions {
  text-align: left;
  padding-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px;
}

#register-error {
  color: red;
  font-weight: bolder;
}

@media screen and (min-width: 768px) {
  .register-form {
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 40px;
  }
  #register-title {
    font-size: 28px;
  }

  #first-name-label,
  #last-name-label,
  #register-email-label,
  #user-name-label,
  #register-password-label {
    font-size: 24px;
  }

  #first-name-input,
  #last-name-input,
  #register-email-input,
  #register-password-input,
  #user-name-input {
    height: 30px;
    width: 280px;
    margin-top: 10px;
  }

  .password-restrictions {
    font-size: 16px;
  }
}
