#search-input {
  border: 1px solid black;
  height: 24px;
  width: 180px;
  padding-left: 5px;
  font-size: 16px;
}

.search-title {
  text-align: center;
  color: whitesmoke;
}

.search-form {
  text-align: center;
}

#search-button {
  border: 1px solid black;
  font-size: 14px;
  margin-top: 10px;
  -webkit-appearance: none;
  background-color: lightgrey;
}

#drink-results-ul {
  margin-right: auto;
  margin-left: auto;
  padding: 0px 0px 0px 0px;
}

#no-results-message {
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
}

@media screen and (min-width: 768px) {
  .search-title {
    font-size: 30px;
  }

  #search-input {
    height: 38px;
    width: 320px;
    padding-left: 8px;
    font-size: 18px;
  }

  #search-button {
    font-size: 26px;
    width: 140px;
    margin-top: 22px;
  }
}

@media screen and (min-width: 1024px) {
  #search-input {
    padding-left: 10px;
    font-size: 20px;
  }
}
