#search-input {
  border: 1px solid black;
  height: 24px;
  width: 180px;
}

.search-title {
  text-align: center;
}

.search-form {
  text-align: center;
}

#search-button {
  border: 1px solid black;
  font-size: 14px;
  margin-top: 10px;
}

.drink-results-list {
  width: 90%;
}
