#search-input {
  border: 1px solid black;
  height: 24px;
  width: 180px;
}

.search-title {
  text-align: center;
  color: whitesmoke;
}

.search-form {
  text-align: center;
}

#search-button {
  border: 1px solid black;
  font-size: 14px;
  margin-top: 10px;
}

.drink-results-list {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .search-title {
    font-size: 30px;
  }

  #search-input {
    height: 38px;
    width: 320px;
  }

  #search-button {
    font-size: 26px;
    width: 140px;
    margin-top: 22px;
  }
}
