#login-user-name-input,
#password-input {
  border: 1px solid black;
  height: 24px;
  width: 180px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  font-size: 16px;
}

#sign-in-button {
  border: 1px solid black;
  margin-top: 20px;
  font-size: 14px;
  -webkit-appearance: none;
  background-color: lightgrey;
}

.alert-area {
  color: red;
  margin-bottom: 10px;
  font-weight: bold;
}

#user-password-span {
  font-size: 12px;
}

.demo-login-area {
  font-size: 12px;
  line-height: 20px;
}

#demo-login-span {
  font-size: 14px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  #sign-in-title {
    font-size: 26px;
  }

  #login-user-name-label,
  #login-password-label {
    font-size: 24px;
  }

  #login-user-name-input,
  #password-input {
    height: 38px;
    width: 280px;
    padding-left: 8px;
    font-size: 18px;
  }

  #user-password-span {
    font-size: 16px;
  }

  #sign-in-button {
    font-size: 20px;
  }

  .demo-login-area {
    font-size: 16px;
    margin-top: 50px;
    line-height: 30px;
  }

  #demo-login-span {
    font-size: 18px;
  }

  .alert-area {
    margin-top: 26px;
  }
}

@media screen and (min-width: 1024px) {
  #login-user-name-input,
  #password-input {
    padding-left: 10px;
    font-size: 20px;
  }
}
